@import "../utils/variables";

.accordion {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    // border: 0.05px solid #E6E8EB;
    border-radius: 7px;
    &__title {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary-color;
        border-radius: 7px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border: none;
        padding: 15px;
        height: 45px;
        cursor: pointer;
        @media (max-width: 768px) {
            height: 40px;
        }
        @media (max-width: 480px) {
            
        }
    }
    &__details {
        overflow: hidden;
        height: 0;
        width: 100%;
        padding: 0 0 0 20px;
        box-sizing: border-box;
        display:flex;
        flex-direction: row;
        transition: 0.4s ease;
        &.active {
            transition: 0.4s ease-out;
            height: fit-content;
            padding: 15px 20px;
        }
    }
}

.accordion__title {
    img {
        transform: rotate(-180deg);
        transition: transform 0.4s ease-in-out;
        &.active {
            transform: rotate(0deg);
        }
        @media (max-width: 768px) {
            height: 14px;
        }
        @media (max-width: 480px) {
            height: 12px;
        }
    }
    h3 {
        color: white;
        font-size: 20px;
        margin: 0;
        padding: 0;
        @media (max-width: 768px) {
            font-size: 17px;
        }
        @media (max-width: 480px) {
            font-size: 16px;
        }
    }
}

.accordion__details {
    ul {
        @media (max-width: 768px) {
            font-size: 15px;
        }
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    h4 {
        width: 100%;
        margin: 0;
        @media (max-width: 768px) {
            font-size: 15px;
        }
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
    p {
        width: 100%;
    }
}