@import "../utils/variables";

.error {
    display: flex;
    flex-direction: column;
}

.error-404 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.error-404 p {
    font-size: 250px;
    font-weight: 800;
    margin: 0;
}

.error-404 img {
    border: 0;
    border-radius: 100%;
    width: 240px;
    height: 240px;
}

.error-informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-informations a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    background-color: $secondary-color;
    border-radius: 7px;
}

.error-informations a:hover {
   color: $main-color;
}