.skills {
    margin-bottom: 90px;
}

.skills__heading {
    margin-bottom: 40px;
}

.skills__heading h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 40px;
    font-weight: 600;
}

.skills__heading p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

.skills__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills h4, .skills p {
    padding: 0;
    margin: 0;
}

.development-skills {
    display: flex;
    flex-direction: column;
}

.development-skills__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 90px;
}

.webmarketing-skills {
    display: flex;
    flex-direction: column;
}

.webmarketing-skills__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 90px;
}