@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #1C3B58;
    margin: 0;
    padding: 35px 130px;
}

// @import "./utils/variables";
@import "./layouts/Header";
@import "./components/Introduction";
@import "./components/ProjectList";
@import "./components/Skills";
@import "./components/Slideshow";
@import "./components/Modal";
@import "./components/Accordion";
@import "./components/ContactForm";
@import "./layouts/Footer";
@import "./pages/Project.scss";
@import "./components/Error";
