$light-main-color: #1C3B58;
$light-secondary-color: #6FC0CB;
$light-background-color: #FFFFFF;
$light-color: #FFFFFF;
$modal-background-color: #121212;

// dark mode
$dark-main-color: #FFFFFF;
$dark-secondary-color: #E6DEFF;
$dark-background-color: #121212;
$dark-fourth-color: #282828;
$dark-fifth-color: #4C4C50;
$dark-color: #121212;